{% extends "base.html" %}
{% load i18n %}

{% block headermeta %}
  <title>{% trans "Partnership" %}</title>
{% endblock headermeta %}

{% block innercontent %}
  <div class="page-static" style="max-width: 900px; margin: 0 auto; padding: 24px;">
    <h1 style="margin-top: 0;">{% trans "Partnership" %}</h1>

    <p>{% trans "This page lists our partnerships." %}</p>

    <hr style="opacity: .25;" />

    <div class="partnership-list">

        <div class="partnership-item">
          <h2>ThePornLinks.com</h2>
          <p>ThePornLinks is an index/aggregator site that lists and links to adult video sites and “porn tube” pages. It presents categories, ranked site lists, and external links to streaming pages</p>
          <a href="https://thepornlinks.com" target="_blank" rel="nofollow noopener">thepornlinks.com</a>
        </div>
        <div class="partnership-item">
          <h2>Ikisoda</h2>
          <p>Your go-to destination for the latest JAV starts here. Ikisoda brings together a curated selection of Japanese Adult Video for dedicated fans, making it easy to keep up with new releases and discover popular titles. Browse seamlessly, find your favorite performers, and explore the latest content with just a few clicks.</p>
          <a href="https://ikisoda.com/?utm_source=celebfakes" target="_blank">ikisoda.com</a>
        </div>
    </div>
  </div>
{% endblock innercontent %}
