{% extends "base.html" %}
{% load i18n %}

{% block headermeta %}
  <title>{% trans "Partnership" %}</title>
{% endblock headermeta %}

{% block innercontent %}
  <div class="page-static" style="max-width: 900px; margin: 0 auto; padding: 24px;">
    <h1 style="margin-top: 0;">{% trans "Partnership" %}</h1>

    <p>{% trans "This page lists our partnerships." %}</p>

    <hr style="opacity: .25;" />

    <div class="partnership-list">

        <div class="partnership-item">
          <h2>ThePornLinks.com</h2>
          <p>ThePornLinks is an index/aggregator site that lists and links to adult video sites and “porn tube” pages. It presents categories, ranked site lists, and external links to streaming pages</p>
          <a href="https://thepornlinks.com" target="_blank" rel="nofollow noopener">thepornlinks.com</a>
        </div>
        <div class="partnership-item">
          <h2>ThePornDude.com</h2>
          <p>ThePornDude is an online directory and review site that catalogs, rates, and links to adult websites and services. It does not host pornographic videos itself but acts as an aggregator and reviewer.</p>
          <a href="https://theporndude.com/" target="_blank" rel="nofollow noopener">theporndude.com</a>
        </div>
        <div class="partnership-item">
          <h2>ThePornDude.vip</h2>
          <p>ThePornDude is an online directory and review site that catalogs, rates, and links to adult websites and services.</p>
          <a href="https://theporndude.vip/" target="_blank" rel="nofollow noopener">Best Porn Sites</a>
        </div>
    </div>
  </div>
{% endblock innercontent %}
